@font-face {
    src: url(/assets/fonts/Roboto-Bold.ttf);
    font-family: Roboto;
}
@font-face {
    src: url(/assets/fonts/Roboto-Regular.ttf);
    font-family: roboto;
}
@property --color1 {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(234, 29%, 20%);
}
@property --color2 {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(234, 29%, 20%);
}

body {
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    color: hsl(234, 29%, 20%);
}
.container {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 1.5rem;
    max-width: 54rem;
}
.img-container {
    img[alt=desktop-illustration] {
        display: block;
    }
    img[alt=mobile-illustration] {
        display: none;
    }
    img[alt=tablet-illustration] {
        display: none;
    }
}
.sub-container {
    padding: 2rem;
    padding-right: 3rem;
}
.header {
    margin: 0;
    font-size: 3.6rem;
}
.intro {
    margin: 1.8rem 0;
}
.list{
    list-style-image: url(/assets/images/icon-list.svg);
    padding-left: 1.5rem;
}
.list li {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.email-state {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    h5 {
        margin: 0;
    }
}
#error-message {
    margin-left: auto;
    color: hsl(4, 100%, 67%);
    visibility: hidden;
}
#email-input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 1.3rem;
    font-size: 1rem;
    border: 1px solid hsl(0, 0%,58%);
    border-radius: 0.4rem;
    margin-bottom: 1.5rem;
}
#email-input:hover {
    border-color: hsl(234, 29%, 20%);
}
button {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 1.3rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 0.4rem;
    color: white;
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    cursor: pointer;
    transition: all 0.3s, --color1 0.3s, --color2 0.3s;
}
button:hover {
    --color1: hsl(350, 100%, 67%);
    --color2: hsl(4, 100%, 67%);
    box-shadow: 0 1rem 2rem hsl(4, 100%, 47%, 0.3);
    transform: translateY(-0.3rem);
}
button:active {
    --color1: hsl(234, 29%, 20%);
    --color2: hsl(234, 29%, 20%);
    box-shadow: none;
    transform: translateY(0rem);
}

@media (max-width:900px){
    body {
        background-color: white;
        align-items: flex-start;
        height: 100dvh;
        font-size: 14px;
        margin: 0;
    }
    .container {
        flex-direction: column-reverse;
        border-radius: 0;
        padding: 0;
        max-width: 100%;
        width: 100%;
    }
    .img-container {
        margin: 1rem 0;
        margin-bottom: 0;
        img[alt=desktop-illustration] {
            display: none;
        }
        img[alt=mobile-illustration] {
            display: none;
        }
        img[alt=tablet-illustration] {
            display: block;
        }
    }
    .sub-container {
        padding: 1rem;
    }
    .header {
        font-size: 3rem;
    }
    
}

@media (max-width:550px){
    .img-container {
        width: 100%;
        margin: 0;
        img[alt=desktop-illustration] {
            display: none;
        }
        img[alt=mobile-illustration] {
            display: block;
            width: 100%;
        }
        img[alt=tablet-illustration] {
            display: none;
        }
    }
    .sub-container {
        padding: 1.5rem;
    }
    .header {
        font-size: 2.3rem;
    }
    .intro {
        margin: 1.3rem 0;
    }
    .email-state {
        margin-top: 1rem;
    }
    #email-input {
        margin-bottom: 0.8rem;
    }
    button, #email-input {
        font-size: 0.9rem;
        padding: 0.9rem 1.1rem;
    }
}